/*
Parallax Experiment
Date: 2nd April 2009
Author: Paul Hayes
*/

#background {
background: url('../images/foreground.png') 5% 5%, url('../images/midground.png') 50% 50%, url('../images/background.png') 90% 110%;
top: 0px;
left: -9999px;
right: 0;
bottom: 0;
position: fixed;
-webkit-transition: left 300s linear;
-moz-transition: left 300s linear;
-o-transition: left 300s linear;
-ms-transition: left 300s linear;
transition: left 300s linear;
-webkit-transition-iteration-count: infinite;
-moz-transition-iteration-count: infinite;
-o-transition-iteration-count: infinite;
-ms-transition-iteration-count: infinite;
}
