/*img{
opacity: 0.99;
}*/

@-webkit-keyframes rotateArea {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}


@keyframes rotateArea {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

#auto_start img {
	-webkit-animation-name: rotateArea;
	-webkit-animation-delay: 0s;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;

	-moz-animation-name: rotateArea;
	-moz-animation-delay: 0s;
	-moz-animation-duration: 10s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;

	-o-animation-name: rotateArea;
	-o-animation-delay: 0s;
	-o-animation-duration: 10s;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: linear;

	-ms-animation-name: rotateArea;
	-ms-animation-delay: 0s;
	-ms-animation-duration: 10s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;

	animation-name: rotateArea;
	animation-delay: 0s;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	position: absolute;
  	top: -256px;
   	left: -256px;
}
nav ul{
list-style-type: none;
}

#mercury a{
width: 200px;
height: 45px;
display: block;
text-decoration: none;
background: url('../solar_images/Mercury.png');
background-size:45px 45px;
background-repeat:no-repeat;
-webkit-transition:-webkit-transform 0.3s ease-in;
-moz-transition:-moz-transform 0.3s ease-in;
-o-transition:-o-transform 0.3s ease-in;
-ms-transition:-ms-transform 0.3s ease-in;
transition:transform 0.3s ease-in;
}

#venus a{
width: 200px;
height: 45px;
display: block;
text-decoration: none;
background: url('../solar_images/Venus.png');
background-size:45px 45px;
background-repeat:no-repeat;
-webkit-transition:-webkit-transform 0.3s ease-in;
-moz-transition:-moz-transform 0.3s ease-in;
-o-transition:-o-transform 0.3s ease-in;
-ms-transition:-ms-transform 0.3s ease-in;
transition:transform 0.3s ease-in;
}

#earth a{
width: 200px;
height: 45px;
display: block;
text-decoration: none;
background: url('../solar_images/Earth.png');
background-size:45px 45px;
background-repeat:no-repeat;
-webkit-transition:-webkit-transform 0.3s ease-in;
-moz-transition:-moz-transform 0.3s ease-in;
-o-transition:-o-transform 0.3s ease-in;
-ms-transition:-ms-transform 0.3s ease-in;
transition:transform 0.3s ease-in;
}

#mars a{
width: 200px;
height: 45px;
display: block;
text-decoration: none;
background: url('../solar_images/Mars.png');
background-size:45px 45px;
background-repeat:no-repeat;
-webkit-transition:-webkit-transform 0.3s ease-in;
-moz-transition:-moz-transform 0.3s ease-in;
-o-transition:-o-transform 0.3s ease-in;
-ms-transition:-ms-transform 0.3s ease-in;
transition:transform 0.3s ease-in;
}

#jupiter a{
width: 200px;
height: 45px;
display: block;
text-decoration: none;
background: url('../solar_images/Jupiter.png');
background-size:45px 45px;
background-repeat:no-repeat;
-webkit-transition:-webkit-transform 0.3s ease-in;
-moz-transition:-moz-transform 0.3s ease-in;
-o-transition:-o-transform 0.3s ease-in;
-ms-transition:-ms-transform 0.3s ease-in;
transition:transform 0.3s ease-in;
}

#saturn a{
width: 200px;
height: 45px;
display: block;
text-decoration: none;
background: url('../solar_images/Saturn.png');
background-size:45px 45px;
background-repeat:no-repeat;
-webkit-transition:-webkit-transform 0.3s ease-in;
-moz-transition:-moz-transform 0.3s ease-in;
-o-transition:-o-transform 0.3s ease-in;
-ms-transition:-ms-transform 0.3s ease-in;
transition:transform 0.3s ease-in;
}

#uranus a{
width: 200px;
height: 45px;
display: block;
text-decoration: none;
background: url('../solar_images/Uranus.png');
background-size:45px 45px;
background-repeat:no-repeat;
-webkit-transition:-webkit-transform 0.3s ease-in;
-moz-transition:-moz-transform 0.3s ease-in;
-o-transition:-o-transform 0.3s ease-in;
-ms-transition:-ms-transform 0.3s ease-in;
transition:transform 0.3s ease-in;
}


#neptune a{
width: 200px;
height: 45px;
display: block;
text-decoration: none;
background: url('../solar_images/Neptune.png');
background-size:45px 45px;
background-repeat:no-repeat;
-webkit-transition:-webkit-transform 0.3s ease-in;
-moz-transition:-moz-transform 0.3s ease-in;
-o-transition:-o-transform 0.3s ease-in;
-ms-transition:-ms-transform 0.3s ease-in;
transition:transform 0.3s ease-in;
}

.eris a{
width: 125px;
height: 30px;
margin-left: 50px;
display: block;
text-decoration: none;
background: url('../solar_images/Eris.png');
background-size:30px 30px;
background-repeat:no-repeat;
-webkit-transition:-webkit-transform 0.3s ease-in;
-moz-transition:-moz-transform 0.3s ease-in;
-o-transition:-o-transform 0.3s ease-in;
-ms-transition:-ms-transform 0.3s ease-in;
transition:transform 0.3s ease-in;
}

#io a{
width: 125px;
height: 30px;
margin-left: 50px;
display: block;
text-decoration: none;
background: url('../solar_images/Io.png');
background-size:30px 30px;
background-repeat:no-repeat;
-webkit-transition:-webkit-transform 0.3s ease-in;
-moz-transition:-moz-transform 0.3s ease-in;
-o-transition:-o-transform 0.3s ease-in;
-ms-transition:-ms-transform 0.3s ease-in;
transition:transform 0.3s ease-in;
}

#europa a{
width: 125px;
height: 30px;
margin-left: 50px;
display: block;
text-decoration: none;
background: url('../solar_images/Europa.png');
background-size:30px 30px;
background-repeat:no-repeat;
-webkit-transition:-webkit-transform 0.3s ease-in;
-moz-transition:-moz-transform 0.3s ease-in;
-o-transition:-o-transform 0.3s ease-in;
-ms-transition:-ms-transform 0.3s ease-in;
transition:transform 0.3s ease-in;
}

#Ganymede a{
width: 125px;
height: 30px;
margin-left: 50px;
display: block;
text-decoration: none;
background: url('../solar_images/Ganymede.png');
background-size:30px 30px;
background-repeat:no-repeat;
-webkit-transition:-webkit-transform 0.3s ease-in;
-moz-transition:-moz-transform 0.3s ease-in;
-o-transition:-o-transform 0.3s ease-in;
-ms-transition:-ms-transform 0.3s ease-in;
transition:transform 0.3s ease-in;
}

#Callisto a{
width: 125px;
height: 30px;
margin-left: 50px;
display: block;
text-decoration: none;
background: url('../solar_images/Callisto.png');
background-size:30px 30px;
background-repeat:no-repeat;
-webkit-transition:-webkit-transform 0.3s ease-in;
-moz-transition:-moz-transform 0.3s ease-in;
-o-transition:-o-transform 0.3s ease-in;
-ms-transition:-ms-transform 0.3s ease-in;
transition:transform 0.3s ease-in;
}

nav > ul > li a:hover{
 -webkit-transform:scale(1.4);
 -moz-transform:scale(1.4);
 -o-transform:scale(1.4);
 -ms-transform:scale(1.4);
 transform:scale(1.4);

}

nav > ul > li span{
 color: #ccc;
 font-weight: bold;
 font-size:  30px;
 /*padding: 10px;*/
 display: block;
 padding-top: 5px;
 padding-bottom: 5px;
 padding-right: 0px;
 padding-left: 55px;
 text-shadow: 2px 2px 5px #000;
}
nav > ul > .eris span{
 color: #ccc;
 font-weight: bold;
 font-size:  25px;
 /*padding: 10px;*/
 display: block;
 padding-top: 0px;
 padding-bottom: 0px;
 padding-right: 0px;
 padding-left: 35px;
 text-shadow: 2px 2px 5px #000;
}

nav > ul > #io span{
 color: #ccc;
 font-weight: bold;
 font-size:  25px;
 /*padding: 10px;*/
 display: block;
 padding-top: 0px;
 padding-bottom: 0px;
 padding-right: 0px;
 padding-left: 35px;
 text-shadow: 2px 2px 5px #000;
}

nav > ul > #europa span{
 color: #ccc;
 font-weight: bold;
 font-size:  25px;
 /*padding: 10px;*/
 display: block;
 padding-top: 0px;
 padding-bottom: 0px;
 padding-right: 0px;
 padding-left: 35px;
 text-shadow: 2px 2px 5px #000;
}

nav > ul > #Ganymede span{
 color: #ccc;
 font-weight: bold;
 font-size:  25px;
 /*padding: 10px;*/
 display: block;
 padding-top: 0px;
 padding-bottom: 0px;
 padding-right: 0px;
 padding-left: 35px;
 text-shadow: 2px 2px 5px #000;
}

nav > ul > #Callisto span{
 color: #ccc;
 font-weight: bold;
 font-size:  25px;
 /*padding: 10px;*/
 display: block;
 padding-top: 0px;
 padding-bottom: 0px;
 padding-right: 0px;
 padding-left: 35px;
 text-shadow: 2px 2px 5px #000;
}

