/*
      Created by Keith Donegan of Code-Sucks.com

	  E-Mail: Keithdonegan@gmail.com

	  You can do whatever you want with these layouts,
	  but it would be greatly appreciated if you gave a link
	  back to http://www.code-sucks.com

*/

* { padding: 0; margin: 0; }

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}
#wrapper {
 margin: 0 auto;
 width: 926px;
 color: #ccc;
 padding:2em 3em;
 opacity: 0.95;
 /*position: absolute;*/
}

#wrapper > header {
 clear: both;
 text-align: center;
 margin: 0px 163px;
 width: 926px;
}

#wrapper > header h2 a{
 /*border: 2px solid #666;*/
 color: #ccc;
 width: 600px;
 float: left;
 padding-top: 0px;
 padding-bottom: 0px;
 padding-right: 0px;
 padding-left: 0px;
 height: 69px;
 margin: auto;
 text-align: center;
 font-weight: bold;
 font-size:  60px;
 text-decoration: none;
}
nav{
 /*border: 2px solid #666;*/
 color: #333;
 margin: 0px 0px 0px 0px;
 padding-top: 10px;
 padding-bottom: 10px;
 padding-right: 10px;
 padding-left: 10px;
 height: 470px;
 width: 200px;
 float: left;
}


#content {
 border: 4px solid #666;
 float: right;
 background-color: #333;
 opacity: 0.95;
 color: #ccc;
 margin: 0px;
 padding: 10px;
 height: 470px;
 /*min-height: 470px;
 max-height: 570px;*/
 width: 678px;
 display: inline;
}

#content > header {
 margin: auto;
 padding: 0px;
 height: 40px;
 width: 676px;
 float: left;
 color: #ccc;
 font-weight: bold;
 font-size:  38px;
}

#content > header #jp{
 font-size:  30px;
}

#content > a{
 font-size: 25px;
 color: #ccc;
}

#content > a:hover{
 text-decoration: none;
}

#content > section {
 margin: auto;
 padding: 0px;
 height: 428px;
/* min-height:428px;
 max-height:528px;*/
 width: 676px;
 float: left;
 color: #333;
 font-weight: bold;
 font-size: 38px;
 background-color: #ccc;
 overflow-x: hidden;
 overflow-y: scroll;

}


#content h2 {
 width: 660px;
 margin: auto;
 padding: 3px;
 float: left;
 color: #333;
 font-size: 25px;
 display: block;
 border: solid 5px #999;
}

#content > h2 {
 width: 660px;
 margin: auto;
 padding: 3px;
 float: left;
 color: #333;
 font-size: 25px;
 display: block;
 border: solid 5px #999;
}

#content  li {
 margin-left: 30px;
}

#content span {
 font-size: 15px;
 display: block;
}

#content > #sitemap {
 margin: auto;
 padding: 0px;
 height: 403px;
 /*min-height:403px;
 max-height:503px;*/
 width: 676px;
 float: left;
 color: #333;
 font-weight: bold;
 font-size: 38px;
 background-color: #ccc;
 overflow-x: hidden;
 overflow-y: scroll;
}

#sitemap a{
 color: #333;
}

#sitemap a:hover{
 text-decoration: none;
}

section > article {
 width: 632px;
 margin-top: 0px;
 margin-bottom: 15px;
 margin-right: 0px;
 margin-left: 0px;
 padding: 2px 20px;
 float: left;
 color: #333;
 font-size: 20px;
 display: block;
 /*border: solid 2px #999;*/
}

table {
 font-weight: bold;
 color: #333;
 font-size: 25px;
}
td > span{
 font-size: 15px;
}

.link > a{
 color: #333;
}

.link > a:hover{
 text-decoration: none;
}

footer {
 /*border: 2px solid #666;*/
 width: 902px;
 clear: both;
 color: #ccc;
 text-align: center;
 margin: auto;
 padding: 10px;
}
footer a {
 width: 60px;
 clear: both;
 color: #ccc;
 text-align: center;
 margin: auto;
 padding: 0px;
 display: block;
}
footer a:hover{
 text-decoration: none;
}